<md-sidenav-container>
<md-card>
    <sebm-google-map 
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">
    
      <sebm-google-map-marker 
          *ngFor="let p of plazas; let i = index"
          (markerClick)="clickedMarker(p.titulo, i)"
          [latitude]="p.latitud"
          [longitude]="p.longitud"
          [title]="p.titulo"      
          (dragEnd)="markerDragEnd(m, $event)">
          
        <sebm-google-map-info-window>
          <span>Titulo: {{p.titulo}}</span><br>
          <span>Centro: {{p.centro}}</span><br>
          <span>Direccion: {{p.direccion}}</span><br><br>
          <ng-container *ngIf="this.authenticationService.isLoggedIn()">
          <button md-raised-button (click)='proponer(p.usuarioId)' color="accent">Enviar Propuesta</button>
          </ng-container>
        </sebm-google-map-info-window>
        
      </sebm-google-map-marker>
 
    </sebm-google-map>
</md-card>
</md-sidenav-container>