<md-card>
	<md-card-title>
		Propuestas Recibidas
	</md-card-title>

	<table class="table">
  	<thead class="thead-default">
        	<tr>
            	<th>Titulo</th>
                <th>Remitente</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Fecha Acept/Rechaz</th>
                <th>Aceptar/Rechazar</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
			<tr *ngFor="let propuesta of propuestas">
            	<td>{{propuesta.titulo}}</td>
                <td>{{propuesta.nombreRemitente}}</td>
                <td>{{propuesta.fecha | date: 'dd/MM/yyyy'}}</td>
                <td *ngIf="propuesta.estado == 0">Pendiente</td>
                <td *ngIf="propuesta.estado == 1">Aceptada</td>
                <td *ngIf="propuesta.estado == 2">Rechazada</td>
                <td *ngIf="propuesta.fechaAcepRech">{{propuesta.fechaAcepRech | date: 'dd/MM/yyyy'}}</td>
                <td *ngIf="!propuesta.fechaAcepRech"></td>
                <td *ngIf="propuesta.estado == 0">
                	<button md-raised-button (click)='aceptar(propuesta.id)' color="primary">Aceptar</button>
                	<button md-raised-button (click)='rechazar(propuesta.id)' color="warn">Rechazar</button>
                </td>
                <td *ngIf="!propuesta.estado == 0"></td>
                <td><button md-raised-button (click)='getPlazaRemitente(propuesta.idRemitente)' color="primary">Detalles</button></td>     
        	</tr>
		</tbody>
	</table>
</md-card>

<ng-container *ngIf="plazaRemitente">
<md-card>
	<md-card-title>
		Detalles de la plaza
	</md-card-title>
	<span>Titulo: {{plazaRemitente.titulo}}</span><br>
	<span>Centro: {{plazaRemitente.centro}}</span><br>
	<span>Direccion: {{plazaRemitente.direccion}}</span>
	<br>
	<br>
	<span><button md-raised-button (click)='cerrar()' color="primary">Cerrar</button></span>
</md-card>
</ng-container>
