<h4>Lat de click: {{slat}}</h4>
<h4>Lng de click: {{slng}}</h4>
<h4>Lat de Rclick: {{elat}}</h4>
<h4>Lng de Rclick: {{slng}}</h4>

<md-sidenav-container>
<md-card>
    <sebm-google-map 
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)"
      (mapRightClick)="mapRightCliked($event)">
    
      <sebm-google-map-marker 
          *ngFor="let p of plazas; let i = index"
          (markerClick)="clickedMarker(p.titulo, i)"
          [latitude]="p.latitud"
          [longitude]="p.longitud"
          [title]="p.titulo">
          
        <sebm-google-map-info-window>
          <span>Titulo: {{p.titulo}}</span><br>
          <span>Centro: {{p.centro}}</span><br>
          <span>Direccion: {{p.direccion}}</span><br><br>
          <button md-raised-button (click)='proponer(p.usuarioId)' color="accent">Enviar Propuesta</button>
        </sebm-google-map-info-window>
        
      </sebm-google-map-marker>
      
      <sebm-google-map-circle 
      	  *ngFor="let z of zonas"
      	  [latitude]="z.latitud" 
      	  [longitude]="z.longitud" 
          [radius]="z.radio"
          [fillColor]="'red'"
          [circleDraggable]="false"
          [editable]="false">
      </sebm-google-map-circle>

    </sebm-google-map>
</md-card>

<md-card>
	<md-card-title>
		Coincidencias
	</md-card-title>
	
	<table class="table">
  	<thead class="thead-default">
			<tr>
				<th>Titulo</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
			 <tr *ngFor="let c of coincidencias">
             	<td>{{c.titulo}}</td>
                <td>{{c.nombreUsuarioDestino}}</td>
                <td><button md-raised-button (click)='proponer(c.idUsuarioDestino)' color="primary">Proponer</button></td>              
             </tr>
        </tbody>
	</table>
</md-card>
</md-sidenav-container>