<div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>Título</th>
                    <th>Centro</th>
                    <th>Ciudad</th>
                    <th>direccion</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let plaza of plazas">
                    <td>{{plaza.titulo}}</td>
                    <td>{{plaza.centro}}</td>
                    <td>{{plaza.ciudad}}</td>
                    <td>{{plaza.direccion}}</td>             
                </tr>

                </tbody>
            </table>
        </div>